<div class="container my-5">
  <div class="row">
    <div class="offset-1">
      <h1 class="red-border px-3">本当に退会しますか？</h1>
    </div>
  </div>

  <div class="row my-5">
    <div class="offset-2">
      <p>退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。</p>
      <p>退会する場合は、「退会する」をクリックしてください。</p>
    </div>
  </div>

  <div class="row">
    <div class="offset-3 col-2">
    <%= link_to "退会しない" ,members_path, class: "btn btn_primary" %>
    <!-- マイページへ-->
    </div>
    <div class="offset-2 col-2">
    <%= link_to "退会する" , members_checkout_path(@member),method: :patch, class: "btn btn_danger", data: { confirm: '本当に退会しますか？' } %>
    <!-- 会員ステータスを無効に切り替えるcheckoutアクションを呼ぶ-->
    </div>
  </div>
</div>