<div class="contener">
  <div class="row text-center">
    <div class="col-12 mb-5" >
      <h1 style="margin-top: 150px"><strong>ご注文ありがとうございました！</strong></h1>
    </div>
    <div class="col-12 mt-5" >
       <div><%= image_tag '2648177.jpeg', size: "200x200" %></div>
    </div>
  </div>
</div>
