/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 * {
   margin: 0;
   padding: 0;
 }

.homes_top {
 position: relative;
}

.homes_top p {
 position: absolute;
 top: 50%; /* 追記 */
 left: 50%; /* 追記 */
 -ms-transform: translate(-50%, -50%); /* 追記 */
 -webkit-transform: translate(-50%, -50%); /* 追記 */
 transform: translate(-50%, -50%); /* 追記 */
}

.homes_top img {
 width: 100% ;
}

.item-link {
 margin-left: auto;
}

.pagination {
  justify-content: center;
}

